<div class="header">
  <a [routerLink]="['/']">
  <div class="title">
    <p class="logo">zhaoyangkanshijie</p>
    <p class="line">|</p>
    <p class="word">zhaoyangkanshijie</p>
  </div>
  </a>
  <div class="nav">
    <div class="content">
      <a class="item" [routerLink]="['/']">首页</a>
      <a class="item" [routerLink]="['/MyComponent']">组件</a>
      <a class="item" [routerLink]="['/Page']">页面</a>
      <a class="item" [routerLink]="['/Other']">其他功能</a>
    </div>
  </div>
  <div class="info">
    <a class="github" href="https://github.com/zhaoyangkanshijie">zhaoyangkanshijie github</a>
  </div>
</div>

