.begin{
    position: fixed;
    top: 100px;
    left: 100px;
    z-index: 2;
}

.end{
    position: fixed;
    top: 200px;
    left: 100px;
    z-index: 1;
}

button{
    position: fixed;
    top: 300px;
    left: 100px;
}