<div class="main">
  <div class="container">
    <h1 class="welcome">管道：带样式文本</h1>
    <a class="item" [routerLink]="['/stylePipe']">管道：带样式文本</a>
    <h1>配置nginx</h1>
    <pre>
      server {{'{'}}
          listen       8083;
          server_name  localhost;
          
          location / {{'{'}}
              root   D:\wwwroot;
              try_files $uri $uri/ /index.html;
              index  index.html index.htm;
          {{'}'}}

          location /api {{'{'}}
              add_header 'Access-Control-Allow-Origin' '*';
              proxy_pass http://localhost:7675/api;
          {{'}'}}
          
          error_page   500 502 503 504  /50x.html;
          location = /50x.html {{'{'}}
              root   html;
          {{'}'}}
      {{'}'}}
    </pre>
    <h1>引入组件axios cookie</h1>
    <pre>
      import {{'{'}} CookieService {{'}'}} from 'ngx-cookie-service';
      import axios from 'axios';

      providers: [CookieService]
    </pre>
  </div>
</div>