.select-box1{
    position: fixed;
    top: 100px;
    left: 100px;
}

.select-box2{
    position: fixed;
    top: 200px;
    left: 100px;
}

button{
    position: fixed;
    top: 300px;
    left: 100px;
}